<!--THE MAIN TEMPLATE-->
{% extends 'layout.html' %}

<!--TAB TITLE-->
{% block title %}
  Market Page
{% endblock %}

<!--BODY CONTENT-->
{% block body %}
  <h1>Market!</h1>
<!--TABLE-->
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <!--Your Columns HERE-->
        <th scop="col">ID</th>
        <th scop="col">Name</th>
        <th scop="col">Barcode</th>
        <th scop="col">Price</th>
        <th scop="col">Options</th>
      </tr>
      <tbody>
        <!--Your rows inside the table HERE-->
        <!--JINJA CODE-->
        {% for item in items %}
          <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.product }}</td>
            <td>{{ item.barcode }}</td>
            <td>{{ item.price }}$</td>
            <!--BUTTONS-->
            <td>
              <button class="btn btn-outline btn-info">More info</button>
              <button class="btn btn-outline btn-success">Purchase this item</button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </thead>
  </table>

{% endblock %}

